.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
:root {
  --blue: #249bc0;
  --orange: #e79a27;
  --cyan-green: #12ef92;
  --cyan: #53f4e1;
  --green: #10ff28;
  --red: #fc0000;
  --gray: rgba(255, 255, 255, 0.19);

  --typewriterSpeed: 2s;
  --typewriterCharacters: 13;
}

.App-header {
  background-color: #020202;
  /* background-color: #020202;*/
  font-family: "Fira Code", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #084038;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cyan);
  border-radius: 0rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4f7ed;
}

.html-blue {
  font-size: 0.5em;
  color: var(--blue);
}
.html-red {
  font-size: 0.5em;
  color: var(--red);
}
.html-gray {
  font-size: 0.5em;
  color: var(--gray);
  display: flex;
  align-items: center;
}
.html-gray-two {
  font-size: 0.5em;
  color: var(--gray);
}
.html-green {
  font-size: 0.5em;
  color: var(--green);
}
.html-orange {
  font-size: 0.5em;
  color: var(--orange);
}
.html-cyan {
  font-size: 0.5em;
  color: var(--cyan);
}
.html-cyan-green {
  color: var(--cyan-green);
  font-size: 0.5em;
}
.html-spacer {
  visibility: hidden;
}

.h1-cyan {
  font-size: 3.2rem;
  font-weight: 100;
  color: white;
}
.p-cyan {
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
  margin-right: 1rem;
}
.p-typical {
  font-size: 1.2rem;
  color: var(--cyan);
}
.inquery {
  z-index: 100;
}

.inquery-green {
  font-size: 1em;
  font-weight: 100;
  color: var(--green);
}
.inquery-orange {
  font-weight: 100;
  font-size: 1em;
  color: var(--orange);
}
.inquery-cyan {
  font-size: 1em;
  font-weight: 100;
  color: var(--cyan);
}
.inquery-gray {
  font-size: 1em;
  font-weight: 100;
  color: var(--gray);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  margin: 0;
  padding: 0;
}

.tools-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tool-mid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50rem;
}

.tool-top {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.tool-bot {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-bot Button {
  font-size: 1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  font-family: "Fira Code", monospace;
  background-color: #1d2b33;
  font-weight: 1000;
  margin: 0.2rem 0rem;
}

.one {
  width: 10rem;
  height: 2.5rem;
  opacity: 75%;
  color: #cfb139;
}
.two {
  width: 8rem;
  height: 2rem;
  opacity: 50%;
}
.three {
  width: 6rem;
  height: 1.5rem;
  opacity: 25%;
}
.tool-mid Button {
  width: 10.5rem;
  font-family: "Fira Code", monospace;
  height: 3rem;
  display: flex;
  margin: 0rem 2rem;
  justify-content: space-between;
}
.tool-mid .react-button {
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  font-family: "Fira Code", monospace;
  font-size: 1.8rem;
  -webkit-box-shadow: 50px 0px 50px 5px rgba(83, 244, 225, 0.59),
    -50px 0px 50px 5px rgba(83, 244, 225, 0.59);
  box-shadow: 50px 0px 50px 5px rgba(83, 244, 225, 0.103),
    -50px 0px 50px 5px rgba(83, 244, 225, 0.096);
}
.react-logo {
  width: 3rem;
}
.js-logo {
  width: 4rem;
}

.view-prj {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: -20rem;
  margin-top: 5rem;
}
.view-prj Button {
  padding: 0;
  margin: 0;
  height: 3rem;
  font-size: 2rem;
  width: 25rem;
}

#top1 {
  animation: slideHorizontal 1s;
  animation-delay: 0s;
}
#diagonal1 {
  animation: slideDiagonal 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
#bottom {
  animation: slideHorizontal 1s;
  animation-delay: 0.5s;
  transform: scale(0, 1);
  animation-fill-mode: forwards;
}
#ellipse {
  animation: slideDiagonal 1s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
#rect {
  animation: slideDiagonal 1s;
  animation-delay: 4s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes slideHorizontal {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes slideDiagonal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: #060a09;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.05em;
  background: var(--cyan);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-info {
  display: flex;
  flex-direction: row;
}
.main-info-mid {
  font-weight: 100;
}
.main-info {
  display: flex;
  justify-content: space-evenly;
  z-index: 1000;
}

.htmlbod-info {
  display: flex;
  margin: 0;
  height: 3rem;
  align-items: center;
}
